<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    form{
      display: flex;
      width: fit-content;
      flex-direction: column;
    }
    form button{
      width: fit-content;
      margin-bottom: 5px;
    }
    
  </style>
  
</head>
<body>
  <button type="button" name="submit">
    <a href="/teste">Teste de rota</a>
  </button>
  <button type="button" name="submit">                        
    <a href="{% url 'teste_com_parametro' 10 %}">Teste de rota com parâmetro</a>
  </button>
  <button type="button" name="submit">
    <a href="{% url 'teste' %}?valor=10&quantidade=3">Testar rota com valor 10 e quantidade 3</a>
  </button>
</body>  
</html>
