<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    form{
      display: flex;
      width: fit-content;
      flex-direction: column;
    }
    form button{
      width: fit-content;
      margin-bottom: 5px;
    }
    
  </style>
  
</head>
<body>
  <button type="button" name="submit">
    <a href="/teste">Teste de rota</a>
  </button>
  <button type="button" name="submit">                        
    <a href="{% url 'teste_com_parametro' 10 %}">Teste de rota com parâmetro</a>
  </button>
  <button type="button" name="submit">
    <a href="{% url 'teste' %}?valor=10&quantidade=3">Testar rota com valor 10 e quantidade 3</a>
  </button>


  <form action="#" method="post">
    {% csrf_token %}
    <label for="txt_input">Texto:</label>
    <input type="text" id="txt_input">

    <label for="int_input">Inteiro:</label>
    <input type="number" id="int_input">

    <div>
      <label for="checkbox_input">checkbox:</label>
      <input type="checkbox" id="checkbox_input">
    </div>

    <div>
      <select name="dropbox" id="dropbox">
        <option value="opc1">Opc 1</option>
        <option value="opc2">Opc 2</option>      
      </select>
    </div>

    <div>
      <input type="radio" id="val1" name="radio" value="val1">
      <label for="val1">Val1</label><br>
      <input type="radio" id="val2" name="radio" value="val2">
      <label for="val2">Val2</label><br>
      <input type="radio" id="val3" name="radio" value="val3">
      <label for="val3">Val3</label><br>
    </div>

  </form>
</body>  
</html>
