<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Remoção</title>
</head>
<body>    
    <p>Tem certeza que deseja remover este doador?</p>
    <form id="confirmarForm" action="{% url 'remover_doador' codigo %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ codigo }}">
        <button type="submit">Sim</button>
        <a href="{% url 'recuperar_busca_anterior'%}"><button type="button">Não</button></a>
    </form>   
</body>
</html>